apiVersion: apps/v1
kind: Deployment
metadata:
  name: inventory-service
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: inventory-service
  template:
    metadata:
      labels:
        app: inventory-service
    spec:
      containers:
      - name: inventory-service
        image: aiinfraacr2901.azurecr.io/inventory-service:latest
        ports:
        - containerPort: 8000
        envFrom:
        - secretRef:
            name: inventory-db-credentials
