apiVersion: apps/v1
kind: Deployment
metadata:
  name: notification-service
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: notification-service
  template:
    metadata:
      labels:
        app: notification-service
    spec:
      containers:
      - name: notification-service
        image: aiinfraacr2901.azurecr.io/notification-service:latest
        ports:
        - containerPort: 8000
        env:
        - name: DB_HOST
          value: "notifications-db.postgres.svc.cluster.local"
        - name: DB_PORT
          value: "5432"
        - name: DB_NAME
          value: "notificationsdb"
        - name: DB_USER
          valueFrom:
            secretKeyRef:
              name: notifications-db-notifications_user-credentials
              key: username
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: notifications-db-notifications_user-credentials
              key: password
